body{
    font-family: 'Roboto';
    background-color: #fafafa;
}
.barratopo{
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    z-index: 2;
}
.topo{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    width: 935px;
    height: 54px;
    margin: 0 auto;
}
.logos{
    display: flex;
}
.send{
    height: 18px;
    margin-left: 10px;
}
.logo{
    font-size: 20px;
}
.logomobile{
    display: none;
}
.separadorhorizontal{
    height: 1px;
    background: #E6E6E6;
}
.topo input{
    color: #dbdbdb;
    background-color: #fafafa;
    text-align: center;
    font-size: 12px;
    width:215px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
}
.iconessup{
    font-size: 20px;
    margin-left: 10px;
    color: #262626;
}
.separadortitle{
    height: 22px;
    width: 1px;
    background: #e6e6e6;
    margin: 0 10px;
}
.conteudo{
    width: 935px;
    margin: 74px auto 0px auto;
    display: flex;
}
.corpo{
    width: 614px;
}
.stories{
    display: flex;
    height: 118px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 24px;
    align-items: center;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.story{
    height: 80px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 7px;
    margin-right: 7px;
}
.stories img{
    margin-top: 5px;
    margin-left: 5px;
    width: 56px;
    border-radius: 50%;
}
.background{
    width: 66px;
    background-image: url('files/stories_background.jpg');
    background-size: cover;
}
.seta{
    height: 26px;
    position: absolute;
    right: -10px;
    top: 45px;
}
p{
    font-size: 14px;
    margin-top: 5px;
    color: #262626;
}
.texto12px{
    font-size: 12px;
    color: #262626;
}
.texto11px{
    font-size: 11px;
    color: #c7c7c7;
}
.legendasup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logosdireita{
    font-size: 20px;
    margin-right: 17px;
    color: #262626;
}
.caixapost{
    border-radius: 3px;
    margin-bottom: 60px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
}
.caixapost .icon{
    width: 32px;
    border-radius: 50%;
    margin: 15px 15px 13px 17px;
}
.caixapost p{
    font-size: 14px;
    color: #262626;
}
.caixapost .imagem{
    width: 100%;
    margin-bottom: 10px;
}
video{
    width: 100%;
    margin-bottom: 10px;
}
.legendainf{
    display: flex;
    justify-content: space-between;
}
.iconesposts{
    font-size: 20px;
    margin-left: 10px;
    color: #262626;
}
.curtidas{
    display: flex;
    align-items: center;
    margin: 10px 0 15px 10px;
}
.iconecurtidas{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 6px;
}
.legendapost{
    margin-left: 12px;
    margin-bottom: 10px;
    margin-top: -5px;
}
.vercomentarios{
    margin-left: 12px;
    margin-bottom: 4px;
}
.vercomentarios p{
    font-size: 14px;
    color: #8e8e8e
}
.comentarios{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.like{
    margin-top: 3px;
    font-size: 16px;
}
.tempo{
    margin-left: 12px;
    margin-top: 8px;
}
.tempo p{
    font-size: 11px;
    color: #8e8e8e;
    letter-spacing: -0.8px;
}
.separadorcomentario{
    width: 614px;
    height: 1px;
    background: #dbdbdb;
    margin-top: 10px;
}
.secaoaddcoment{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.emoticons{
    margin-right: 5px;
}
.coment{
    display: flex;
    align-items: center;
}
.coment input{
    color: #8e8e8e;
    text-align: start;
    font-size: 14px;
    width:500px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid #fff;
}
button{
    border: none;
    color: #B2DFFC;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-right: 12px;
    margin-top: 5px;
    transition: 300ms;
}
button:hover{
    color:#0095f6 ;
}
.barralateral{
    position: fixed;
    right: 0;
    margin-right: calc(100vw - 1162px);
    width: 293px;
    z-index: 1;
    background: #fafafa;
}
.conta{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.fotoperfil{
    width: 56px;
    border-radius: 28px;
    margin-right: 17px;
}
.colunatitulos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.textobarralat{
    font-size: 12px;
    color: #8E8E8E;
}
.sugestoes{
    margin-top: 18px;
}
.sugestao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}
.sugestao img{
    width: 32px;
    border-radius: 50%;    
}
.linhasug{
    display: flex;
}
.textossug{
    margin-left: 8px;
    margin-top: -2px;
}
.infosinstagram{
    margin-top: 33px;
}
.azul{
    color: #0095f6;
}
.barrainferior{
    display: none;
}
.sublinhado:hover{
    text-decoration: underline;
}
@media (max-width: 935px){
    .logomobile{
        display: none;
    }
    .barralateral{
        display: none;
    }
    .topo{
        width: 100%;
    }
    .conteudo{
        width: 100%;
    }
    .barrainferior{
        display: none;
    }
}
@media (max-width: 614px){
    .barralateral{
        display: none;
    }
    .topo{
        width: 100%;
    }
    .iconessup{
        display: none;
    }
    .separadortitle{
        display: none;
    }
    form{
        display: none;
    }
    .logo{
        margin-left: 15px;
    }
    .logos img{
        display: none;
    }
    .logomobile{
        display: block;
    }
    .send{
        margin-right: 15px;
    }
    .conteudo{
        width: 100%;
        margin: 54px auto 0px auto;
    }
    .stories{
        width: 100%;
        margin: 0 auto;
    }
    .seta{
        display: none;
    }
    .barrainferior{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 54px;
        background: #fff;
    }
    .iconesinf{
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        color: #262626;
    }
}